---
layout: layouts/home.njk
eleventyNavigation:
  key: Stories
  order: 2
---
{% image "./drawings/a-bit-of-a-coin-part-4.png", "A Bit Of A Coin Part 4" %}

<h1>Stories</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
